.connectBtn {
    padding: 10px;
    border-radius: 10px;
    background-color: #121D33;
    border: 1px solid #121D33;
    color: white;
    transition: filter 0.5s ease;
}

.connectBtn:hover {
    filter: brightness(150%);
}