<div style="position: sticky; height: 100vh; top: 0; left: 0;">
    <sidenav [orientation]="orientation" [ngClass]="getClasses()">

        <!-- Inner -->
        <div class="sidenav-inner" [ngClass]="{ 'py-1': orientation !== 'horizontal' }"> 
      
      
      
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-12 text-center text-white">
                      <img 
                          [routerLink]="[ '/member', 'dashboard']" 
                          loading="lazy" 
                          decoding="async"  
                          src="assets/img/blueship_logo_small.png" 
                          height="90" 
                          width="160" 
                          alt="app-logo"
                          style="cursor: pointer;">
                      <p>Grow up your smart money</p>
                      <div class="mt-3">
                          
                      </div>
                  </div>
              </div>
          </div>
      
      
          <div class="container-fluid mt-5">
              <div class="row">
                  <div class="col-md-12 text-white">
                      <span class="text-primary text-left" style="margin-bottom: 8px;">Wallet</span>
                      <h3 id="amount-container" class="bg-primary text-center" style="border-radius: 10px; padding: 10px;" > {{ accountAmount }} $ </h3>
                      <h3 id="amount-container" class="btn btn-outline-success" style="display: none; border-radius: 10px; padding: 10px;" > {{ lastStableAmount }} $ </h3>
                  </div>
              </div>
          </div>
      
          <div class="container-fluid mt-2">
              <div class="row">
                  <div class="col-md-12 text-left text-white">
                      <p>Menus</p>
                  </div>
              </div>
          </div>
      
      
      
          <sidenav-router-link icon="ion ion-ios-home" route="/member/dashboard" [active]="isActive('/member/dashboard')">Dashbord</sidenav-router-link>
      
          <ng-container *ngIf="showOrderMenu; else elseOrderMenuTemplate">
              <sidenav-menu 
              icon="ion ion-md-folder" 
              text="Order" 
              [active]="isMenuActive('/home/oip-ordonnances')" 
              [open]="isMenuOpen('/home/oip-ordonnances')">
                  <sidenav-router-link 
                      icon="ion ion-ios-arrow-forward" 
                      route="/member/order/analysis" 
                      [active]="isActive('/member/order/analysis')">Make Order</sidenav-router-link>
                  <sidenav-router-link 
                      icon="ion ion-ios-arrow-forward" 
                      route="/member/order/list" 
                      [active]="isActive('/member/order/list')">My Orders</sidenav-router-link>
                  <sidenav-router-link 
                      icon="ion ion-ios-arrow-forward" 
                      route="oip-ordonnances/requete" 
                      [active]="isActive('/oip-ordonnances/requete')">Orders Report</sidenav-router-link>
          </sidenav-menu>
          </ng-container>
          <ng-template #elseOrderMenuTemplate>
              
          </ng-template>
          
          
         
      
          <div class="mt-3">
      
          </div>
          <sidenav-menu 
              icon="ion ion-ios-contact" 
              text="Profile" 
              [active]="isMenuActive('/home/oip-ordonnances')" 
              [open]="isMenuOpen('/home/oip-ordonnances')">
                  <sidenav-router-link 
                      icon="ion ion-ios-arrow-forward" 
                      route="/member/profile/detail" 
                      [active]="isActive('/member/profile/detail')">View Profile</sidenav-router-link>
      
                  
                  <sidenav-router-link 
                      icon="ion ion-ios-arrow-forward" 
                      route="/member/profile/change-password" 
                      [active]="isActive('/member/profile/change-password')">Update password</sidenav-router-link>
          </sidenav-menu>
      
          <sidenav-menu 
              icon="ion ion-ios-contacts" 
              text="Team" 
              [active]="isMenuActive('/member/team')" 
              [open]="isMenuOpen('/member/team')">
                  <sidenav-router-link 
                      icon="ion ion-ios-arrow-forward" 
                      route="/member/team/invite" 
                      [active]="isActive('/member/team/invite')">Invite</sidenav-router-link>
                  
          </sidenav-menu>
      
          <div style="display: none;">
              <sidenav-menu 
              icon="ion ion-ios-trending-up" 
              text="Top Up" 
              [active]="isMenuActive('/home/oip-ordonnances')" 
              [open]="isMenuOpen('/home/oip-ordonnances')">
                  <sidenav-router-link 
                      icon="ion ion-ios-arrow-forward" 
                      route="oip-ordonnances/requete-oip" 
                      [active]="isActive('/oip-ordonnances/requete-oip')">Top Up List</sidenav-router-link>
          </sidenav-menu>
          </div>
          
      
          <sidenav-menu 
              icon="ion ion-md-cash" 
              text="Fund" 
              [active]="isMenuActive('/member/fund')" 
              [open]="isMenuOpen('/member/fund/deposit')">
                  <sidenav-router-link 
                      icon="ion ion-ios-arrow-forward" 
                      route="/member/fund/deposit" 
                      [active]="isActive('/member/fund/deposit')">Make Deposit</sidenav-router-link>
                  <sidenav-router-link 
                      icon="ion ion-ios-arrow-forward" 
                      route="/member/fund/deposit-report" 
                      [active]="isActive('/member/fund/deposit-report')">Deposit report</sidenav-router-link>
          </sidenav-menu>
      
          
      
      
          <sidenav-menu 
              icon="ion ion-logo-usd" 
              text="Withdrawal" 
              [active]="isMenuActive('/member/fund/withdrawal')" 
              [open]="isMenuOpen('/member/fund/withdrawal')">
                  <sidenav-router-link 
                      icon="ion ion-ios-arrow-forward" 
                      route="/member/fund/withdrawal" 
                      [active]="isActive('/member/fund/withdrawal')">Withdrawal</sidenav-router-link>
                  <sidenav-router-link 
                      icon="ion ion-ios-arrow-forward" 
                      route="/member/fund/deposit-report" 
                      [active]="isActive('/member/fund/deposit-report')">Withdrawal report</sidenav-router-link>
          </sidenav-menu>
      
      
          <sidenav-menu 
              icon="ion ion-md-pricetags" 
              text="Earning Report" 
              [active]="isMenuActive('/home/oip-ordonnances')" 
              [open]="isMenuOpen('/home/oip-ordonnances')">
                  <sidenav-router-link 
                      icon="ion ion-ios-arrow-forward" 
                      route="oip-ordonnances/requete-oip" 
                      [active]="isActive('/oip-ordonnances/requete-oip')">Earning report</sidenav-router-link>
          </sidenav-menu>
      
      
          <sidenav-menu 
              icon="ion ion-md-help-circle" 
              text="Support" 
              [active]="isMenuActive('/home/oip-ordonnances')" 
              [open]="isMenuOpen('/home/oip-ordonnances')">
                  <sidenav-router-link 
                      icon="ion ion-ios-arrow-forward" 
                      route="oip-ordonnances/requete-oip" 
                      [active]="isActive('/oip-ordonnances/requete-oip')">Support</sidenav-router-link>
          </sidenav-menu>
      
      
        </div>
      </sidenav>
      
</div>