<h4 class="font-weight-bold py-3 mb-4">
    Fund make deposit
</h4>


<div class="row" style="margin-top: 10vh;">
    <div class="col-md-6 mt-3">
        <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around;">
            <div class="payment-item">
                <div class="payment-image-container" (click)="swithPaymentMethod('bank')">
                    <img src="assets/img/MasterCard.svg" width="50" height="30" alt="">
                </div>
                <small class="payment-title">Credit & Debit Card</small>
            </div>
            <div class="payment-item">
                <div class="payment-image-container" (click)="swithPaymentMethod('perfect-money')">
                    <img src="assets/img/PerfectM.gif" width="80" height="30" alt="">
                </div>
                <small class="payment-title">Perfect Money</small>
            </div>
            <div class="payment-item">
                <div class="payment-image-container" (click)="swithPaymentMethod('crypto')">
                    <img src="assets/img/bitcoin_img.png" width="50" height="50" alt="">
                </div>
                <small class="payment-title">Bitcoin</small>
            </div>
        </div>
    </div>

    <div class="col-md-4 mx-auto bg-white mt-3" *ngIf='paymentMethod!=null'>

        <div id="paymentContainer">
            <ng-container *ngIf="isPaying==true; else elseNotPayingTemplate">
                <div class="mt-3" style="display: flex; flex-direction: column; justify-content: center; align-items: center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <h6 class="mt-3">Please wait...</h6>
                </div>
            </ng-container>
            <ng-template #elseNotPayingTemplate>
                <table class="table">
                    <tbody>

                        <ng-container *ngIf="paymentStatus=='success'">
                            <tr>
                                <td colspan="3">
                                    <p class="panel panel-success">
                                        Successfully made a deposit of 200 USD
                                    </p>
                                </td>
                            </tr>
                        </ng-container>

                        <ng-container *ngIf="paymentStatus=='failure'">

                        </ng-container>
                        

                        <ng-container *ngIf='paymentMethod=="other"'>
                            <tr>
                                <td class="text-left text-muted">
                                    <p>
                                        <span class="text-muted">Payment method</span>
                                    </p>
                                    <select name="" id="" class="form-control">
                                        <option value="bitcoin">Bitcoin</option>
                                        <option value="credit_card">Credit card</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left text-muted">
                                    <p>
                                        <span class="text-muted">Set the amount in $</span>
                                    </p>
                                    <input [(ngModel)]="amount" type="text" class="form-control w-100" type="number" min="25" value="25">
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left text-muted">
                                    <p>
                                        <span class="text-muted">Add iformation or description to deposit request</span>
                                    </p>
                                    <textarea [(ngModel)]="metadata" type="text" class="form-control w-100"></textarea>
                                </td>
                            </tr>
                            
                        </ng-container>


                        <ng-container *ngIf='paymentMethod=="bank"'>

                            <tr>
                                <td colspan="3">
                                    <img src="assets/img/bank_card_img.png" width="40" height="30" alt="">
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left text-muted">
                                    <p>
                                        <span class="text-muted">Set the amount in $</span>
                                    </p>
                                    <input [(ngModel)]="amount" type="text" class="form-control w-100" type="number" min="25" value="25">
                                </td>
                            </tr>
                        </ng-container>

                        <ng-container *ngIf='paymentMethod=="perfect-money"'>

                            <tr>
                                <td colspan="3">
                                    <img src="assets/img/PerfectM.gif" height="30" alt="">
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left text-muted">
                                    <p>
                                        <span class="text-muted">Set the amount in $</span>
                                    </p>
                                    <input [(ngModel)]="amount" type="text" class="form-control w-100" type="number" min="25" value="25">
                                </td>
                            </tr>
                        </ng-container>


                        <ng-container *ngIf='paymentMethod=="crypto"'>

                            <tr>
                                <td colspan="3">
                                    <div class="row">
                                        <div class="col-md-6 my-auto">
                                            1 <img src="assets/img/bitcoin_img.png" width="30" height="30" alt="">
                                        </div>
                                        <div class="col-md-6 my-auto">
                                            = 36 654 $
                                        </div>
                                    </div>
                                    
                                </td>
                            </tr>

                            <tr>

                                <td class="text-left text-muted" colspan="3">
                                    <p>
                                        <span class="text-muted">Set the amount in $</span>
                                    </p>
                                    <input [(ngModel)]="amount" type="text" class="form-control w-100" type="number" min="25" value="25">
                                </td>
                            </tr>



                            <tr>
                                <td colspan="3" class="text-left mt-3" style="color: black;" >
                                    <h4 class="mt-2">Total : 0.00068 BTC</h4>
                                </td>
                            </tr>

                            <tr style="display: none;">
                                <td colspan="3">
                                    <div style="width: 100%;" class="connectBtn w-100 text-center">
                                        <a class="text-white text-center"
                                        target="_blank"
                                        href="https://commerce.coinbase.com/checkout/efbebfa2-254c-499d-94cc-ba0ed8029761">
                                            Proceed to payment
                                        </a>
                                    </div>
                                </td>
                            </tr>

                           
                        </ng-container>

                        
                        <tr *ngIf="paymentMethod!=null && paymentMethod!='null'">
                            <td colspan="3">
                                <button  (click)="pay()" class="connectBtn w-100" >Proceed payment</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>
        </div>
        
    </div>
</div>




  
  <!-- Counters -->
  
  <!-- / Counters -->

  