
<h4 class="font-weight-bold py-3 mb-4">
    Fund make deposit
    <div class="text-muted text-tiny mt-1"><small class="font-weight-normal">Today is Tuesday, 8 February 2018</small></div>
  </h4>


<ng-container *ngIf="hasChoosedPaymentMethod==false; else elseNothasChoosedPaymentMethodTemplate">
    
    <div class="row" style="margin-top: 10vh;" *ngIf="hasChoosedPaymentMethod==false">
        <div class="col-md-10 mx-auto mt-3">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row text-center">
                        <h4>Choose your deposit method</h4>
                    </div>
                    <div class="mt-5 mb-5" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around;">
                        <div class="payment-item">
                            <div class="payment-image-container" (click)="swithPaymentMethod('bank')">
                                <img src="assets/img/MasterCard.svg" width="50" height="30" alt="">
                            </div>
                            <small class="payment-title">Credit & Debit Card</small>
                        </div>
                        <div class="payment-item">
                            <div class="payment-image-container" (click)="swithPaymentMethod('perfect-money')">
                                <img src="assets/img/PerfectM.gif" width="80" height="30" alt="">
                            </div>
                            <small class="payment-title">Perfect Money</small>
                        </div>
                        <div class="payment-item">
                            <div class="payment-image-container" (click)="swithPaymentMethod('crypto')">
                                <img src="assets/img/bitcoin_img.png" width="50" height="50" alt="">
                            </div>
                            <small class="payment-title">Bitcoin</small>
                        </div>
                        <div class="payment-item">
                            <div class="payment-image-container" (click)="swithPaymentMethod('paypal')">
                                <img src="assets/img/paypal_icon.svg" width="80" height="30" alt="">
                            </div>
                            <small class="payment-title">Paypal</small>
                        </div>
                        <div class="payment-item">
                            <div class="payment-image-container" (click)="swithPaymentMethod('web-money')">
                                <img src="assets/img/WebMoney.svg" width="80" height="30" alt="">
                            </div>
                            <small class="payment-title">Web Money</small>
                        </div>
                        <div class="payment-item">
                            <div class="payment-image-container">
                                <img src="assets/img/NETeller.svg" width="80" height="30" alt="">
                            </div>
                            <small class="payment-title">Netteler</small>
                        </div>
                        <div class="payment-item">
                            <div class="payment-image-container">
                                <img src="assets/img/payeer-logo.png" width="80" height="20" alt="">
                            </div>
                            <small class="payment-title">Payeer</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #elseNothasChoosedPaymentMethodTemplate>

    <div class="card mb-4">
        <div class="card-header text-right">
            <button class="btn btn-sm btn-danger" (click)="cancelPaymentMehod($event)">
                Cancel
            </button>
        </div>
        <div class="card-body">
            
            
            <ng-container [ngSwitch]="paymentMethod">
                <ng-container *ngSwitchCase="'crypto'" >
                </ng-container>

                <ng-container *ngSwitchCase="'perfect-money'">
                    <app-perfect-money-component ></app-perfect-money-component>
                </ng-container>

                <ng-container *ngSwitchCase="'bank'" >
                    <app-credit-card-component [stripe]="stripe"></app-credit-card-component>
                </ng-container>

                <ng-container *ngSwitchCase="'paypal'" >
                </ng-container>
                
            </ng-container>
        </div>
    </div>
    


    
</ng-template>







  
  <!-- Counters -->
  
  <!-- / Counters -->

  