<h4 class="font-weight-bold py-3 mb-4">
    Profile Password
  </h4>
  
  <!-- Counters -->
  <div class="row">
    <div class="col-sm-4">
  
        <div class="card mb-4">
            <div class="card-header">Update password</div>
        </div>
    </div>
    <div class="col-sm-8">
  


        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-1 text-center">
                                <img src="assets/img/our.png" height="50" width="50" style="border-radius: 50%;" alt="">
                            </div>
                            <div class="col-md-9 text-left pl-4">
                                <div><strong>Username</strong></div>
                                <div>email</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="text-left text-muted">Old password</td>
                                    <td class="text-left">secret</td>
                                    <td class="text-right"><button class="btn btn-outline-primary" >Edit</button></td>
                                </tr>
                                <tr>
                                    <td class="text-left text-muted">New password</td>
                                    <td class="text-left">not set</td>
                                    <td class="text-right"><button class="btn btn-outline-primary" >Edit</button></td>
                                </tr>

                                <tr>
                                    <td colspan="3">
                                        <button class="connectBtn w-100" >Save changes</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
  
    </div>
  </div>
  <!-- / Counters -->
  