<div class="x-container-fluid p-5 text-white" style="background-color: #121D33;">

    

    <div class="pt-5 pb-5">
        <div class="col-md-10 mx-auto pt-5 pb-5 mt-5">
           <div class="x-container-fluid mt-5">
               <div class="row mt-5">
                    <div class="col-md-3">
                        <div class="text-left">
                                <img src="assets/img/logo.png" style="border-radius: 50%;"  width="30" height="30" alt="">
                                <span style="margin-left: 10px; font-size: 1.2em ">Xrade</span>
                            </div>
                        <div class="mt-5">
                            <p>
                                We are Millionaire Circle and We Help in your business to grow and expand, Millionaire 
                                Circle Funds offers you a holistic approach towards business by bringing to its distributors.
                            </p>
                        </div>
                    </div>




                    <div class="col-md-3">
                        <div class="text-left">
                                <h3>Company</h3>
                        </div>
                        <div class="mt-5">
                            <ul class="option-items">
                                <li>Home</li>
                                <li>About Us</li>
                                <li>Our Features</li>
                                <li>Business Plan</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="text-left">
                                <h3>Account</h3>
                        </div>
                        <div class="mt-5">
                            <ul class="option-items">
                                <li>Login</li>
                                <li>Register</li>
                                <li>Forgot Password</li>
                                <li>Contact Us</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="text-left">
                                <h3>Company</h3>

                                <p>If you like to engage with 
                                    us please get it in touch
                                </p>
                        </div>
                        <div class="mt-5">
                            <ul class="option-items">
                                <li>Phone</li>
                                <li>Email</li>
                                <li>Position</li>
                            </ul>
                        </div>
                    </div>
                    
                    
               </div>
           </div>
        </div>
    </div>


    <hr style="border-top: 1px solid white" />

    <div class="pt-5 pb-3 text-center">
        <h5>Copyright xrade.com @2021</h5>
    </div>

</div>