<h4 class="font-weight-bold py-3 mb-4">
    Invite a friend
    <div class="text-muted text-tiny mt-1"><small class="font-weight-normal">Today is Tuesday, 8 February 2018</small></div>
  </h4>
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card mb-4">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="lnr lnr-earth display-4 text-info"></div>
                
                <div class="ml-3 w-100">
                  <div class="small">Copy and share</div>
                  <div class="text-large mt-5 w-100">
                    <h2 class="mt-5">https://blueship.com/auth/register?sponsorId={{ reference }}</h2>
                  </div>
                  <div class="text-large mt-3 w-100 text-right">
                    <button class="btn" disabled></button>
                    <button class="btn" disabled></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>