
<div style="background-color: #fff;">
    <div id="home-menu" class="x-pd home-menu">
        <div id="socail-logo-container">

        </div>
        <div id="main-nav-container">
            <div id="logo-container">
                <!--<span>Shark Investment</span>-->
                <img  id ="top-menu-logo" src="assets/img/blueship_logo_small.png"   alt="">
            </div>
            <div id="links-container">
                <div id="links-data-container">
                    <span class="link-data-item">
                        <a href="#banner-container"> HOME</a>
                    </span>
                    <span class="link-data-item">
                        <a href="#banner-about-container">ABOUT US</a>
                    </span>
                    <span class="link-data-item" style="display: none;">
                        <a href="#values-container">FEATURES</a>
                    </span>
                    <span class="link-data-item">
                        <a href="#services-container">SERVICES</a>
                    </span>
                    <span class="link-data-item">
                        <a href="#footer-container">CONTACT</a>
                    </span>
                </div>
                <div id="nav-extras">
                    <ng-container *ngIf="isAuth==true; else elseTemplate">
                        <a class="default-btn" [routerLink]="[ '/member', 'dashboard' ]">Go To Dashboard</a>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <a class="default-btn" [routerLink]="[ '/auth', 'login' ]">Sign in</a>
                    </ng-template>
                    
                    
                </div>
            </div>
        </div>
    </div>

    <div id="main">
        <div id="banner-container" class="x-pd" style="
            background: url('assets/img/banner.png');
            background-repeat: no-repeat;
            background-size: cover; height: 100vh;">

            <div class="row text-white">
                <div class="col-md-6"  id="banner-left" style="padding-top: 180px;">
                    <span style="display: block;"><span style="font-size: 3em; color: var(--green);">1%</span> per day</span>
                    <span
                    style="font-size: 4em; font-weight: bold; line-height: 70px;"
                    >Grow up your money.<br/>Best plateform for investment</span>

                    <p style="margin-top: 50px;">
                        Use our years of experiences to make profit.
                    </p>

                    <div style="margin-top: 100px;">
                        <a class="default-btn" style="font-size: 1.1em;" [routerLink]="[ '/auth', 'login' ]">Get into my Account</a>
                    </div>
                </div>
                <div class="col-md-6 text-right my-auto" id="banner-right" style="padding-top: 50px;">
                    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 340px; padding-top: 150px;">
                       <!-- style="transform: rotateZ(8deg); box-shadow: 0 0 200px 2px black;"-->
                        <img   src="assets/img/banner_smile.png" width="500" height="500" alt="smile guy" >
                        
                    </div>
                    
                    
                </div>
            </div>
        </div>

        <div id="banner-about-container" class="x-pd mt-5">
            <div class="row">
                <div class="col-md-6">
                    <img src="assets/img/about_us.png" width="100%" height="100%" alt="">
                </div>
                <div class="col-md-6">
                    <h4 style="color: #2782F9;" >ABOUT US</h4>
                    <h1 style="color: black; font-size: 3em;">
                        Over Years of Experience in serve to 
                        People
                    </h1>

                    <div style="width: 100px; height: 5px; background-color: #2782F9;"></div>

                    <p class="mt-3">
                        Created in 2019, we are a digital asset investment company that provides
                        services with a secure and rapid transaction infrastructure developed according to
                        global standards in expert team and advisory board governance
                        experimented.
                    </p>

                    <p>
                        Registered in various countries around the world, the BlueShip team includes experts
                        spot trading on gold and also on various financial instruments including cryptocurrencies,
                        stocks and oil.
                    </p>

                    <p>
                        We are in alliance with gold miners and brokers from Asian regions and
                        companies that trade physical gold in order to generate profit for our customers.
                    </p>

                    <div class="mt-5 text-right"></div>

                    <div class="mt-5">
                        <div class="row mt-5">
                            <div class="col-md-4 text-center" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                                <div class="feature-item" style="display: flex; flex-direction: column; align-items: center; justify-content: center;  margin-bottom: 10px;">
                                    <img src="assets/img/professional_icon.svg" width="50" height="50" alt="">
                                </div>
                                <h4>Professionalism</h4>
                            </div>
                            <div class="col-md-4 text-center" style="display: flex; flex-direction: column; align-items: center;">
                                <div  class="feature-item" style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin-bottom: 10px;">
                                    <img src="assets/img/trust_icon.svg" width="50" height="50" alt="">
                                </div>
                                <h4>Trust</h4>
                            </div>
                            <div class="col-md-4 text-center" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                                <div  class="feature-item" style="display: flex; flex-direction: column; align-items: center; justify-content: center;  margin-bottom: 10px;">
                                    <img src="assets/img/innovation_icon.svg" width="50" height="50" alt="">
                                </div>
                                <h4>Innovation</h4>
                            </div>
                            
                        </div>
                        
                    </div>

                    <div class="mt-5 text-right" style="display: none;">
                        <a href="#!">Our vision</a>
                    </div>
                </div>
            </div>
        </div>


        <div id="history-container" class="x-pd ">
            

            <div class="row">
                <div class="col-md-12">
                    <h1 style="font-size: 3em;">
                        “Some of the History of Our Company is that we are Catching up through values”
                    </h1>
                    <p class="mt-3">
                       Get more on our values that we deserve
                    </p>
                </div>
            </div>

            
        </div>


        <div id="values-container" class="x-pd ">
            

            <div class="row">
                <div class="col-md-12 text-center" style="display: flex; flex-direction: column; align-items: center;">
                    <h4 style="color: #2782F9;" >---</h4>
                    <h1 style="color: black; font-size: 3em;">
                        Our values
                    </h1>

                    <div style="width: 100px; height: 5px; background-color: #2782F9;"></div>
                </div>
            </div>

            <div class="row" style="margin-top: 150px;">
                <div class="col-md-4 text-center">
                    <h1 style="font-weight: 100; font-size: 6em;">01</h1>
                    <h2 style="color: black;" class="mt-2">Professionalism</h2>
                    <p>
                        Thanks to the quality of our experts
                    </p>
                </div>

                <div class="col-md-4 text-center">
                    <h1 style="font-weight: 100; font-size: 6em;">02</h1>
                    <h2 style="color: black;" class="mt-2">Trust</h2>
                    <p>
                        symbolized by the greatness of our community
                    </p>
                </div>

                <div class="col-md-4 text-center">
                    <h1 style="font-weight: 100; font-size: 6em;">03</h1>
                    <h2 style="color: black;" class="mt-2">Innovation</h2>
                    <p>
                        Through a continuous improvement process
                    </p>
                </div>
            </div>

            
        </div>


        <div id="why-container" class="x-pd ">

            <div class="row">
                <div class="col-md-12">
                    <h1 style="font-size: 3em;">
                        Why <strong>invest</strong>  in Blue Ship ?
                    </h1>
                    <p class="mt-5">
                       Blue ship has years experience on the market financial market. With his experimented traders and workers.
                        It is keen to achieve goals. And to achieve these objectives, he set himself missions to accomplish and visions to make real
                    </p>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-md-6 text-left mt-3">
                    <h2>Mission</h2>
                    <div style="width: 100px; height: 5px; background-color: #2782F9;"></div>

                    <div class="row" style="margin-top: 50px;">
                        <div class="col-md-2 mt-2">
                            <div class="feature-item-small" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                                <span style="font-size: 1.2em;">01</span>
                            </div>
                            
                        </div>
                        <div class="col-md-10 mt-2">
                            <h6 class="mt-2">Offer you an easy, unique and secure investment experience</h6>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 50px;">
                        <div class="col-md-2 mt-2">
                            <div class="feature-item-small" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                                <span style="font-size: 1.2em;">02</span>
                            </div>
                            
                        </div>
                        <div class="col-md-10 mt-2">
                            <h6>Bring additional income to your portfolio thanks to our large
                                expertise.</h6>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 50px;">
                        <div class="col-md-2 mt-2">
                            <div class="feature-item-small" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                                <span style="font-size: 1.2em;">03</span>
                            </div>
                            
                        </div>
                        <div class="col-md-10 mt-2">
                            <h6>Make you a member of our great community.</h6>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 text-left mt-3">
                    <h2>Vision</h2>
                    <div style="width: 100px; height: 5px; background-color: #2782F9;"></div>
                    <div class="row" style="margin-top: 50px;">
                        <div class="col-md-2 mt-2">
                            <div class="feature-item-small" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                                <span style="font-size: 1.2em;">01</span>
                            </div>
                            
                        </div>
                        <div class="col-md-10 mt-2">
                            <h6 class="mt-2">Facilitate everyone's daily life through services and opportunities accessible to
                                all social classes.</h6>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 50px;">
                        <div class="col-md-2 mt-2">
                            <div class="feature-item-small" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                                <span style="font-size: 1.2em;">02</span>
                            </div>
                            
                        </div>
                        <div class="col-md-10 mt-2">
                            <h6>Make financial independence more accessible thanks to our system
                                investment</h6>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 50px;">
                        <div class="col-md-2 mt-2">
                            <div class="feature-item-small" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                                <span style="font-size: 1.2em;">03</span>
                            </div>
                            
                        </div>
                        <div class="col-md-10 mt-2">
                            <h6>Put a smile on your face</h6>
                        </div>
                    </div>
                </div>


            </div>

        </div>



        <div id="services-container" class="x-pd ">
            

            <div class="row">
                <div class="col-md-12 text-center" style="display: flex; flex-direction: column; align-items: center;">
                    <h4 style="color: #2782F9;" >SERVICES</h4>
                    <h1 style="color: black; font-size: 3em;">
                        WE MAKE IT EASY FOR YOU
                    </h1>

                    <div style="width: 100px; height: 5px; background-color: #2782F9;"></div>
                </div>
            </div>


            <div class="row" style="margin-top: 120px;">
                <div class="col-md-6 my-auto text-center mt-3">
                    <img src="assets/img/transaction_icon.svg" width="200" height="250" alt="">
                </div>

                <div class="col-md-6 mt-3">
                    <h1>Fast transaction</h1>
                    <p class="mt-5">
                        Deposit and Withdraw your money instantly thanks to a wide range of payment systems available.
                    </p>

                    <div class=" row mt-5">
                        <div class="col-md-12">
                            <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around;">
                                <div class="payment-item">
                                    <div class="payment-image-container" >
                                        <img src="assets/img/MasterCard.svg" width="50" height="30" alt="">
                                    </div>
                                </div>
                                <div class="payment-item">
                                    <div class="payment-image-container" >
                                        <img src="assets/img/VISA.svg" width="50" height="30" alt="">
                                    </div>
                                </div>
                                <div class="payment-item">
                                    <div class="payment-image-container" >
                                        <img src="assets/img/PerfectM.gif" width="80" height="30" alt="">
                                    </div>
                                </div>
                                <div class="payment-item">
                                    <div class="payment-image-container">
                                        <img src="assets/img/bitcoin_img.png" width="50" height="50" alt="">
                                    </div>
                                </div>
                                <div class="payment-item">
                                    <div class="payment-image-container" >
                                        <img src="assets/img/paypal_icon.svg" width="80" height="30" alt="">
                                    </div>
                                </div>
                                <div class="payment-item">
                                    <div class="payment-image-container">
                                        <img src="assets/img/WebMoney.svg" width="50" height="50" alt="">
                                    </div>
                                </div>
                                

                                <div class="payment-item">
                                    <div class="payment-image-container">
                                        <img src="assets/img/NETeller.svg" width="80" height="50" alt="">
                                    </div>
                                </div>

                                <div class="payment-item">
                                    <div class="payment-image-container">
                                        <img src="assets/img/payeer-logo.png" width="80" height="20" alt="">
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <div class="row text-right" style="margin-top: 100px;">
                        <div class="col-md-12 text-right">
                            <a class="default-btn" [routerLink]="[ '/auth', 'login' ]">Get into my account</a>
                        </div>
                        
                    </div>

                </div>

            </div>


            <div class="row" style="margin-top: 200px;">
               
                <div class="col-md-6 mt-3">
                    <h1>Sponsorship bonus</h1>
                    <p class="mt-5">
                       Receive up to <strong style="color: var(--green); font-size: 2em">10%</strong>  bonus on every customer you refer.
                    </p>

                    <p class="mt-1">
                        Bonus withdrawable instantly.
                     </p>

                    <div class="row text-left" style="margin-top: 100px;">
                        <div class="col-md-12 text-left">
                            <a class="default-btn" [routerLink]="[ '/auth', 'login' ]">Get into my account</a>
                        </div>
                        
                    </div>

                </div>

                <div class="col-md-6 mt-3 text-center">
                    <img src="assets/img/marketing_icon.svg" width="200" height="250" alt="">
                </div>
            </div>


            <div class="row" style="margin-top: 200px;">
                <div class="col-md-6 mt-3 text-center">
                    <img src="assets/img/security_icon.svg" width="200" height="250" alt="">
                </div>

                <div class="col-md-6 mt-3">
                    <h1>Security</h1>
                    <p class="mt-5">
                        We protect an maintain your account, and all your transactions
                    </p>

                    <div class="row text-right" style="margin-top: 100px;">
                        <div class="col-md-12 text-right">
                            <a class="default-btn" [routerLink]="[ '/auth', 'login' ]">Get into my account</a>
                        </div>
                        
                    </div>

                </div>
            </div>

        </div>


        <div id="feedsback-container" class="x-pd-r" style="margin-top: 100px; display: flex; flex-direction: row; justify-content: space-between;">

            <div id="testimonial-image" style="display: flex; flex: 1">
                <img src="assets/img/testim.png" width="100%" height="auto" alt="">
            </div>

            <div id="testimonial-data" style="display: flex; flex-direction: column; flex: 1; padding-top: 100px; padding-bottom: 100px;">
                <div class="row">
                    <div class="col-md-12" style="display: flex; flex-direction: column;">
                        <h4 style="color: #2782F9;" >TESTIMONIALS</h4>
                        <h1 style="color: white; font-size: 3em;">
                            What say clients
                        </h1>    
                        <div style="width: 100px; height: 5px; background-color: #2782F9;"></div>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-md-2">
                        <img src="assets/img/testimonial.jpg" width="80" height="80" style="border-radius: 50%;"  alt="">
                    </div>
                    <div class="col-md-4 mt-3 my-auto">
                        <h5 class="text-white">Jackson</h5>
                        <span style="color: #2782F9; display: none;">Manger</span>
                    </div>
                </div>


                <div class="row mt-5">
                    <div class="col-md-12 text-white">
                        <p style="font-size: 1.5em;">
                            I won a lot with bleuship-invest. I saw my investment 
                            increased to 22% at the end of the month ...
                        </p>
                    </div>
                </div>

            </div>


            
        </div>


        <div id="payments-container" class="x-pd " style="margin-top: 100px;">
            


            <div class=" row mt-5">
                <div class="col-md-12">
                    <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around;">
                        <div class="payment-item">
                            <div class="payment-image-container" >
                                <img src="assets/img/MasterCard.svg" width="50" height="30" alt="">
                            </div>
                        </div>
                        <div class="payment-item">
                            <div class="payment-image-container" >
                                <img src="assets/img/VISA.svg" width="50" height="30" alt="">
                            </div>
                        </div>
                        <div class="payment-item">
                            <div class="payment-image-container" >
                                <img src="assets/img/PerfectM.gif" width="80" height="30" alt="">
                            </div>
                        </div>
                        <div class="payment-item">
                            <div class="payment-image-container">
                                <img src="assets/img/bitcoin_img.png" width="50" height="50" alt="">
                            </div>
                        </div>
                        <div class="payment-item">
                            <div class="payment-image-container" >
                                <img src="assets/img/paypal_icon.svg" width="80" height="30" alt="">
                            </div>
                        </div>
                        <div class="payment-item">
                            <div class="payment-image-container">
                                <img src="assets/img/WebMoney.svg" width="50" height="50" alt="">
                            </div>
                        </div>
                        <div class="payment-item">
                            <div class="payment-image-container">
                                <img src="assets/img/NETeller.svg" width="80" height="50" alt="">
                            </div>
                        </div>

                        <div class="payment-item">
                            <div class="payment-image-container">
                                <img src="assets/img/payeer-logo.png" width="80" height="20" alt="">
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

            
        </div>




        <!-- Footer -->
<footer id="footer-container" class="text-center text-lg-start bg-dark text-muted">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>BlueShip Invest
            </h6>
            <p>
                We Help in your business to grow and expand, 
                BlueShip Funds offers you a 
                holistic approach towards business by bringing to its distributors.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              MENUS
            </h6>

            <p>
              <a href="#banner-container" class="text-reset">Home</a>
            </p>
            <p>
              <a href="#banner-about-container" class="text-reset">About us</a>
            </p>
            <p style="display: none;">
              <a href="#values-container" class="text-reset">Features</a>
            </p>
            <p>
              <a href="#services-container" class="text-reset">Services</a>
            </p>
            <p>
                <a href="#footer-container" class="text-reset">Contact</a>
              </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              More
            </h6>
            <p>
              <a href="#feedsback-container" class="text-reset">Testimonials</a>
            </p>
            <p>
              <a href="#values-container" class="text-reset">Values</a>
            </p>
            <p>
              <a href="#why-container" class="text-reset">Mission & Vision</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p><i class="fas fa-home me-3"></i> Paris, FR</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              support@blueship-invest.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 33 7 58 33 91 63 </p>
            <p><i class="fas fa-print me-3"></i> + 33 7 58 33 91 63 </p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2019 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">blueship.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

        


    </div>
</div>

