

  <div class="row">
    <div class="col-sm-6 col-xl-6">
      <h4 class="font-weight-bold py-3 mb-4">
        Dashboard
        <div class="text-muted text-tiny mt-1"><small class="font-weight-normal">{{ date }}</small></div>
      </h4>
    </div>
    <div class="col-sm-6 col-xl-6 text-right">
      <h4 class="font-weight-bold py-3 mb-4">
        <i class="ion ion-ios-trending-up" style="color: var(--green);"></i> 1% <small class="text-small">/ day</small>
      </h4>
    </div>
  </div>
  



  <div class="row">
    <div class="col-sm-6 col-xl-6">
  
      


      <div class="card mb-4  text-white" style="background-color: goldenrod;">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="lnr lnr-earth display-4 text-info"></div>
            <div class="ml-3 w-100">
              <div class="small">Investment  Amount</div>
              <div class="text-large mt-3">
                <h2>{{ realAmount }} $</h2>               
              </div>
              <div class="text-large mt-3 w-100 text-right">
                <button (click)="investmentWithdrawal()" class="btn btn-default" style="background-color: #fff; color: black;">Withdrawal</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
    
    <div class="col-sm-6 col-xl-6">     

      <div class="card mb-4">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="lnr lnr-earth display-4 text-info"></div>
            <div class="ml-3 w-100">
              <div class="small">Investment  profit</div>
              <div class="text-large mt-3">
                <ng-container *ngIf="member != null; else elseMemberNullAmountTemplate">
                  <h2>{{ member.interest_account.amount }} $</h2>
                </ng-container>
                <ng-template #elseMemberNullAmountTemplate>
                  <h2>0 $</h2>
                </ng-template>                
              </div>
              <div class="text-large mt-3 w-100 text-right">
                
                <button (click)="profitMerge()" class="btn merge-btn">Reinvest</button>
                <button (click)="profitWithdrawal()" class="btn withdrawal-btn">Withdrawal</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>

  </div>



  <div class="row">
    
    <div class="col-sm-6 col-xl-6">
  
      <div class="card mb-4">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="lnr lnr-gift display-4 text-danger"></div>
            <div class="ml-3 w-100">
              <div class="small">Sponsorship</div>
              <div class="text-large mt-3">
                <h2>{{ sponsorshipProfit }} $</h2>
              </div>
              <div class="text-large mt-3 w-100 text-right">
                <button (click)="sponsorshipMerge()" class="btn merge-btn">Merge to investment profit</button>
                <button (click)="sponsorshipWithdrawal()" class="btn withdrawal-btn">Withdrawal</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>

    <div class="col-sm-6 col-xl-6">
  
      <div class="card mb-4 bg-primary text-white">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="lnr lnr-earth display-4 text-info"></div>
            
            <div class="ml-3 w-100">
              <div class="small">Total Profit</div>
              <div class="text-large mt-3">
                <h2>{{ totalProfit }} $</h2>
              </div>
              <div class="text-large mt-3 w-100 text-right">
                <button class="btn" disabled></button>
                <button class="btn" disabled></button>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>

   
    
  </div>





  <div class="row" style="display: none;">
    <div class="col-sm-6 col-xl-4">
  
      <div class="card mb-4 bg-success text-white">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="lnr lnr-earth display-4 text-info"></div>
            <div class="ml-3">
              <div class="small">Real amount</div>
              <div class="text-large mt-3">
                <h2>{{ realAmount }} $</h2></div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
    
    <div class="col-sm-6 col-xl-4">
  
      <div class="card mb-4">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="lnr lnr-earth display-4 text-info"></div>
            <div class="ml-3 w-100">
              <div class="small">Profit</div>
              <div class="text-large mt-3" style="display: flex; flex-direction: row; justify-content: space-between">
                <h2>{{ totalProfit }} $</h2>
                
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>

    <div class="col-sm-6 col-xl-4">
  
      <div class="card mb-4 bg-primary text-white">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="lnr lnr-earth display-4 text-info"></div>
            <div class="ml-3">
              <div class="small">Total amount</div>
              <div class="text-large mt-3">
                <h2>{{ totalAmount }} $</h2></div>
            </div>
          </div>
        </div>
      </div>
  
    </div>

  </div>


  <!-- / Interest payment and benefits history -->
  <h4 class="font-weight-bold py-3 mb-4">
    Interest rate payment
    <div class="text-muted text-tiny mt-1"><small class="font-weight-normal">You are is increased by 1% each day except week-end</small></div>
  </h4>
  <div class="row mt-3">
    <div class="col-md-12">

      <div class="card mb-4">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <table class="table mt-2">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Due date</th>
                  <th>Amount before</th>
                  <th>Amount</th>
                  <th>Amount After</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>


                <tr *ngFor="let item of interestPayments" >
                  <td>#</td>
                  <td>{{ item.due_date }}</td>
                  <td>{{ item.amount_before }} $</td>
                  <td>- $</td>
                  <td>{{ item.amount_after }} $</td>
                  <td>
                    <span class="badge badge-success">Filled</span>
                  </td>
                  <td></td>
                </tr>
                
                
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
      
    </div>
  </div>
  